@charset "UTF-8";
/* header */
header {
	position: absolute;
	width: 100%;
}

#header_main {
	position: absolute;
	width: 1520px;
	height: 150px;
	/* background-color: red; */
	left: 50%;
	transform: translate(-50%);
	font-size: 0;
}

#header_main>div:nth-child(1) {
	width: 150px;
	height: 150px;
	display: inline-block;
	/* background-color: chocolate; */
}

#header_main>div:nth-child(2) {
	height: 150px;
	width: 1270px;
	/* background-color: green; */
	display: inline-block;
}

#header_main>div:nth-child(2) button {
	position: absolute;
}

#header_main>div>img {
	width: 100%;
	height: 100%;
}

.header_muenbar {
	position: relative;
	display: inline-block;
	width: 25%;
	height: 100%;
}

.header_muenbar>div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	/* background-color: #000000; */
	text-align: center;
	height: 30px;
}

header a {
	color: white;
	font-size: 20px;
}

#header_muenbar1 {
	/* background-color: antiquewhite; */
	
}

#header_muenbar2 {
	/* background-color: coral; */
	
}

#header_muenbar3 {
	/* background-color: cyan; */
	
}

#header_muenbar4 {
	/* background-color: violet; */
	
}