@charset "UTF-8";

/* ==================================================================================================================== */
															/*Header CSS Start*/
/* ==================================================================================================================== */
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none;
}

/*로딩 시 화면 클릭 막음*/
#mask{
	width:''; 
	height:''; 
	background-color:black; 
	opacity: 0.7; 
	content: ''; 
	position: fixed;  
	top: 0; left:0; right:0; bottom:0;  
	z-index: 5;
}

/*메인 화면 + 메뉴바 아이콘 겹침 해결*/
.parent{
   position: relative;
   height: 600px;
   background-color: pink;
   overflow: hidden;
   }
.child{
   position: absolute;
   right:0;
   top: 0;
   }
   
/*움직이는 아이콘 설정*/
input[id="menuicon"] {
   display: none;
   z-index: 10;
}
#H-label{
	width: 30px;
	height: 30px;
}

input[id="menuicon"]+.h_label {
   display: block;
   margin:20px;
   width: 100%;
   height: 100%;
   position: fixed;
   right: 0;
   transition: all .35s;
   cursor: pointer;
}

input[id="menuicon"]+.h_label span {
   display: block;
   position: absolute;
   width: 100%;
   height: 5px;
   border-radius: 30px;
   background: white;
   transition: all .35s;
}

input[id="menuicon"]+.h_label span:nth-child(1) {
   top: 0;
}

input[id="menuicon"]+.h_label span:nth-child(2) {
   top: 50%;
   transform: translateY(-50%);
}

input[id="menuicon"]+.h_label span:nth-child(3) {
   bottom: 0;
}

input[id="menuicon"]:checked+.h_label {
   z-index: 2;
}

input[id="menuicon"]:checked+.h_label span {
   background: #fff;
}

input[id="menuicon"]:checked+.h_label span:nth-child(1) {
   top: 50%;
   transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked+.h_label span:nth-child(2) {
   opacity: 0;
}

input[id="menuicon"]:checked+.h_label span:nth-child(3) {
   bottom: 50%;
   transform: translateY(50%) rotate(-45deg);
}

/*움직이는 아이콘 배경 설정*/
.h_label {
   width: 50px;
   height: 50px;
   display: block;
   border-radius: 5px;
}
/*x*/
input:checked ~.h_label {
   background-position: -40px 0;
   background-color: rgba(255, 255, 255, 0.5);
}



/* opacity 수정, */
div[class="sidebar"] {
   width: 300px;
   height: 100%;
   background: #222;
   opacity: 0.7;
   position: fixed;
   top: 0;
   right: -300px;
   z-index: 1;
   transition: all .35s;
   color: white;
}
/* 여기부터 사이드 바  관련 수정 사항*/
.sidebar-container1{
   margin-top: 100px;
   margin-left: 25px;
}

#sidebar-container2 ul li, #H_a{
   list-style: none; 
   text-decoration: none;
   color: white;
   font-size: 18px; 
   padding : 25px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.05);
   border-top: 1px solid rgba(225, 0, 0, 0.05);
   text-align: center;
}

logout_a{
	position: absolute; 
	top: 90%; 
	left: 10%
}

#sidebar-login {
   color: white;
   text-decoration: none;
   padding: 10px 0 0 0;
}
#sidebar-logout {
   color: white;
   text-decoration: none;
   padding: 10px 0 0 30px;
}
/* 여기까지 사이드 바  관련 수정 사항*/

input[id="menuicon"]:checked+.h_label+div {
   right: 0;
}


.loader {
  border: 16px solid #f3f3f3; /*테두리 두께 타입 색상*/
  border-top: 16px solid #3498db; /*위쪽 테두리만 같은 두께에 파랑색을 줬음*/
  border-radius: 50%; /*모서리를 둥글게*/
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; /*아래 선언한 메서드 호출 한바퀴당 2초 linear:가속없이 infinite:0~100프로까지 끊김없이 반복*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  z-index: 6;
}

/*로그인 시 사이드바 css*/
#user-icon {
   font-size: 75px;
}
#label-id{
   font-size: 30px;
   margin-left: 3px;
}
font{
   font-size:17px; 
}

/*로그인 시 사이드바 css*/
#user-icon {
	font-size: 75px;
}
#label-id{
	font-size: 30px;
	margin-left: 3px;
}
font{
	font-size:17px; 
}

/*메서드 선언 0도에서 360도 돌아가는 메서드*/
@keyframes spin {
  0% { transform:translate(-50%,-50%) rotate(0deg); }
  100% { transform:translate(-50%,-50%) rotate(360deg); }
}

#H_hr { 
	background-color: white;
	margin-top: 20px;
}
/*버튼 css 설정*/
li.animated-button.thar-four {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	0s;
}
li.animated-button.thar-four:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nfour;
}
li.animated-button.thar-four:hover:before {
	right: 0%;
	left: auto;
	width: 100%;
}
li.animated-button.thar-four:before {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #0066cc;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	0s;
}
/*버튼 css 설정*/
li.animated-button.thar-four {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	0s;
	
}
li.animated-button.thar-four:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nfour;
}
li.animated-button.thar-four:hover:before {
	right: 0%;
	left: auto;
	width: 100%;
}
li.animated-button.thar-four:before {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #0066cc;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	0s;
}
.h_parent{
	position: relative;
	height: 70px;
	width: 100%;
	margin-bottom: 100px;
	}

.se_div{
	width:100%;
	height: 70px;
	background: black;
	color: white;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
}
	
.section{
	float:left;
	
}
.header-section1{
	width: 20%;
	margin-top: 15px;
}
.header-section2{
	align-items:center;
	width: 70%;
}
.header-section3{
	width: 10%;
}

.h_menu{
	margin-top: 20px;
}
.nav-meun1{
	float: left;
	width: 25%;
}
.nav-meun2{
	float: left;
	width: 25%;
}
.nav-meun3{
	float: left;
	width: 25%;
}
.nav-meun4{
	float: left;
	width: 25%;
}

#bg-img{
	position: absolute;
	z-index: -5;
	opacity: 0.4;
	width: 100%;
	height: 100%;
}

#H-font{
	font-size: 20px;
	color: white;
}

/*위로가기 버튼*/
.btn-top{
   font-size: 40px;
   position: fixed;
   right: 20px;
   bottom: 20px;
   color: lightgray;
   z-index: 5;
}
/* ==================================================================================================================== */
															/*Header CSS End*/
/* ==================================================================================================================== */
