@charset "UTF-8";
/* header */
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
header {
	position: absolute;
	width: 100%;
}
body {
	background-color: #739ecb;
}

::-webkit-scrollbar {
	display: none !important;
}


#header_main {
	position: absolute;
	width: 1520px;
	height: 150px;
	left: 50%;
	transform: translate(-50%);
	font-size: 0;
	background-color: none;
	border-bottom: 1px solid white;
}

#header_main>div:nth-child(1) {
	width: 150px;
	height: 150px;
	display: inline-block;
}

#header_main>div:nth-child(2) {
	height: 150px;
	width: 1270px;
	display: inline-block;
}

#header_main>div:nth-child(2) button {
	position: absolute;
}

#header_main>div>img {
	width: 100%;
	height: 100%;
}

.header_muenbar {
	position: relative;
	display: inline-block;
	width: 25%;
	height: 100%;
}

.header_muenbar>div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	text-align: center;
	height: 30px;
	
}

header a {
	color: white;
	font-size: 20px;
}

#header_muenbar1 {
	/* background-color: antiquewhite; */
	
	
}

#header_muenbar2 {
	/* background-color: coral; */
	
}

#header_muenbar3 {
	/* background-color: cyan; */
	
}

#header_muenbar4 {
	/* background-color: violet; */
	
}