.section { width: 1050px; margin: 0 auto;}
#ordersheet h1 {font-size: 35px ; color: #333333; letter-spacing:-5px;}
#ordersheet .label {color: #999; letter-spacing:-0.5px; }
#ordersheet{ text-align: center; padding-bottom: 20px;}
.title_section {padding-top: 40px;}


/*상품 정보 ================================*/
/*상세보기 버튼 누르기 전*/
/* #orderGoodsList{display:none} */ /*상세보기 버튼 누르기 전에는 안보임*/
#orderGoodsList{border-top: 2px solid #5f0080; margin-top: 13px;}
.order_goodslist .show_tbl{display:block;position:relative;height:94px;} /* 상세보기 클릭 시 none으로 변경되야함*/
.order_goodslist .show_tbl .inner_show{
    position:absolute;
    width:100%;padding:20px 0 20px;
    border-top:1px solid #333;border-bottom:1px solid #ddd;
    font-size:14px;line-height:20px;text-align:center;letter-spacing:-0.3px}
.order_goodslist .show_tbl .name{padding-bottom:14px; font-weight: bold; }
.order_goodslist .show_tbl .show_btn{margin-top: 10px; display: inline-block; font-size:14px;line-height:20px;font-family:'Noto Sans'; text-decoration: none; font-weight:700;color:#512772}

/*상세보기 버튼 누른 후*/
#orderGoodsList .detail_table{
    border-bottom:1px solid #ddd ; width: 100%; border-collapse: collapse;
}
#orderGoodsList .detail_table .th{   /*  적용 안됨*/
    border-bottom: 1px solid #333 ; width: 100%;
}
/*상품 정보 상세보기 테이블*/
.detail_table th
{    border-bottom:2px solid #ddd; padding: 15px; font-size: 14px; color: #4c4c4c;}

.detail_table td
{    border-bottom:1px solid #ddd; padding: 15px;}

/*주문자 정보 ================================*/
.inner_show2{
    width:100%;padding:10px 0 10px;
    border-top:1px solid #333;
    border-bottom:1px solid #ddd;
}

.order_info_table th{ 
    text-align: left; 
    padding-right: 35px;
    line-height: 338%;
    width: 190px;
    font-size: 14px;
    font-family: 'Noto Sans';
    font-weight: 700;
    vertical-align: top;
}

.order_info_table th input{
border: 1px solid #c1c1c1 ;
height: 31px;
}

.txt_guide span{
    display: block;
    font-size: 12px;
    line-height: 21px;
    color:#333333

    font-family: 'Noto Sans';
    font-weight: 400;
    letter-spacing: -0.3px;
    box-sizing: border-box;
}

/*결제하기================================*/
/* .submit {}       html에서 css 안먹음..  */
        ul {
            list-style-type: none;
            padding-top: 10px;
            font-size: 12px;
            color: #514859;
            line-height: 22px;
            letter-spacing: -0.23px;
            text-align: center;
        }