@charset "UTF-8";


.p_product_main {
	margin-top: 30px;
}

.p_product_collection {
	margin: 0 auto;
	width: 1200px;
	height: 1000px;
	background-color: pink;
}

.p_product_pic {
	height: 800px;
	padding: 50px;
}
/*=======================================이미지 크기 조정시 이부분에서 하세요*/
.p_pic_setting {
	width: 400px;
	height: 500px;
}
/*=============================================================*/
.p_pic_setting>img {
	width: 100%;
	height: 100%;
}

.p_product_desc {
	display: inline;
	width: 690px;
	height: 900px;
	float: right;
	
}

.p_product_explain {
	margin: 30px;
	width: 630px;
	height: 900px;
	background-color: skyblue;
}

.p_product_explain>div {
	margin: 10px 0;
}

.p_product_explain>div>span {
	display: inline-block;
	vertical-align: middle;
}

.p_product_explain>div>#title {
	font-size: 30px;
	width: 600px;
	height: 70px;
	display: inline-block;
	line-height: 20px;
}

.p_product_explain>div>span>#titletext {
	position: relative;
	top: 25px;
}

.p_product_explain>div>#key {
	font-size: 20px;
	width: 180px;
	height: 70px;
	display: inline-block;
	line-height: 20px;
}

.p_product_explain>div>span>#keytext {
	position: relative;
	top: 25px;
}

.p_product_explain>div>span>#text {
	position: relative;
	top: 23px;
}

.p_product_explain>div>#value {
	width: 420px;
	height: 70px;
	font-size: 19px;
}

#explain_key {
	font-size: 20px;
	width: 180px;
	height: 70px;
	vertical-align: top;
}

#explain_value {
	width: 420px;
	height: 250px;
	overflow: auto;
}

#title {
	font-size: 35px;
}
/*=======================================================지현이 코드*/
.p_product_explain2{
	margin-top: 30px;
	width: 1600px;
	margin: 0 auto;
	margin-top: 30px;
}

.container ul.tab {
	display: flex;
	height: 60px;
	border-bottom: 1px solid #5da62b;
} /*flex를 사용하기 위해서는 부모가 flex여야한다.*/
.container ul.tab li {
	flex: 1;
	
} /*각각 갯수에 나눠서 크기를 가지려면 flex: 1 필요*/
.container ul.tab li:first-child {
	border-left: 1px solid #ddd;
} /*각각 갯수에 나눠서 크기를 가지려면 flex: 1 필요*/
.container ul.tab li a {
	/*li가 아닌 a태그에 높이를 줘야 클릭할 수 있는 범위가 넓어진다. a는 인라인요소라서 블록요소로 바꿔줘서 가로세로 100%로 만들어준다. */
	height: 60px;
	display: block;
	font-size: 14px;
	color: #505050;
	text-align: center;
	line-height: 59px;
	text-decoration: none;
	border: 1px solid #ddd;
	border-left: none;
	border-bottom: none;
}

.container ul.tab li a.on {
	position: relative;
	height: 58px;
	border-color: #5da62b;
	border-top-width: 2px;
	line-height: 57px;
	border-bottom: 1px solid #fff;
}

.container ul.tab li a.on:before {
	content: "";
	position: absolute;
	left: -1px;
	top: -2px;
	width: 1px;
	height: 100%;
	background: #5da62b;
	border-top: 2px solid #5da62b;;
}
