#center_div {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

#center_div>div:first-child {
	max-width: 1400px;
	min-width: 1400px;
	height: 100%;
	display: flex;
}

#center_div>div:first-child>div:nth-child(1) {
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 500px;
	margin: 20px 10px 20px 10px;
}

#center_div>div:first-child>div:nth-child(1) h1 {
	display: flex;
	width: 100%;
	height: 100px;
	align-items: center;
	margin-bottom: 10px;
	padding-left: 10px;
}

#center_div>div:first-child>div:nth-child(2) {
	width: 1100px;
	height: 1200px;;
	overflow: hidden;
	margin: 20px;
	/* background-color: azure; */
}

#center_menu_section {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: azure;
	border: 1px solid #2a365c;
}

#center_menu_section ul {
	width: 100%;
}

#center_menu_section>ul>li {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 20%;
	cursor: pointer;
	align-items: center;
}

#center_menu_section>ul li.on {
	background-color: #2a365c;
	color: azure;
}

#center_menu_section>ul>li:hover {
	background-color: #2a365c;
	color: azure;
}

#contents_div>div:nth-child(n+1) {
	display: none;
	width: 100%;
	height: 1200px;
}

#contents_div h2 {
	display: flex;
	width: 170px;
	align-items: center;
	height: 70px;
	padding-left: 10px;
}

#contents_modify {
	margin-top: 20px;
	border-top: 1px solid #2a365c;
	border-bottom: 1px solid #2a365c;
	height: 230px;
	/* 	background-color: navy; */
}

#contents_modify>div>h4 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	/* 	background-color: yellow; */
}

#contents_div>div>h4 {
	display: flex;
	align-items: center;
	height: 70px;
	width: 800px;
	font-size: 20px;
	color: rgb(71, 68, 68);
	/* 	background-color: blue; */
}

#pw_section_form {
	display: none;
}

#myinfomodifyframe {
	height: 800px;
	/* 	background-color: red; */
}

#myinfomodifyframe>div {
	margin: 0 auto;
	width: 500px;
	height: 400px;
	/* 	background-color: skyblue; */
}

.frameA {
	width: 400px;
	height: 50px;
	margin: 0 auto;
	padding-top: 10px;
}

.frameA>input[type=password] {
	width: 100%;
	height: 100%;
	outline: none;
	border: 1px solid #2a365c;
	text-indent: 0.9em;
}

.frameA>input[type=button] {
	width: 100%;
	color: white;
	height: 100%;
	border: none;
	outline: none;
	background-color: #2a365c;
	text-indent: 0.9em;
}

.frameA>input[type=button] {
	cursor: pointer;
}
/*=======================================나의 구매 목록*/
.orderlist_section {
	width: 100%;
	margin: 0 auto;
}


.qna_register {
	font-size: 17px;
	font-weight: 650px;
}

.qna_register a {
	font-weight: 700;
	color: #5f0080;
}

.order_num {
	margin-bottom: 10px;
	margin: 10px 0;
	font-size: 21px;
	font-weight: 550;
	color: #2a365c;
	display: inline-block;
	width: 98%;
}

.fa-chevron-right {
	color: #5f0080;
}

.span_order_info {
	display: inline-block;
	width: 100px;
	font-weight: 600;
	margin-bottom: 8px;
	font-size: 17px;
	color: #424044;
}

.span_three {
	letter-spacing: 3px;
}

.orderlist_order_date {
	font-size: 17px;
	font-weight: 500;
	color: #424044;
}

/* orderlist table css */
.orderlist_table {
	border-top: 3px solid #2a365c;
	width: 100%;
	margin-bottom: 50px;
	border-left: none;
	border-right: none;
	margin-top: 50px;
}

.orderlist_table td {
	padding: 10px;
}

.orderlist_table tr {
	border-bottom: 2px solid #ddd;
}

#main_content_div{
	
}

.td_product_img {
	width: 130px;
}

#orderlist_product_img {
	width: 130px;
	height: 150px;
}

.orderlist_product_name {
	font-size: 20px;
	font-weight: 600;
}

.orderlist_order_price {
	font-size: 18px;
	font-weight: 550;
}

.orderlist_order_count {
	font-size: 15px;
	font-weight: 530;
	color: #65616f;
}

.order_status {
	font-size: 18px;
	font-weight: 550;
	text-align: center;
}

.td_status_and_btn {
	width: 120px;
}

.review_popup_btn, .cancel_btn {
	width: 130px;
	height: 42px;
	padding-bottom: 2px;
	margin: 5px;
	border: 1px solid #5f0080;
	background-color: #5f0080;
	color: #fff;
	letter-spacing: -.3px;
	text-align: center;
	font-family: noto sans;
	font-weight: 550;
	font-size: 13px;
	border: 1px solid #5f0080;
}

/*=======================================================상품목록*/
/* ::-webkit-scrollbar{ */
/*     display: none; */
/* } */
#toptext{
    padding-top: 20px;
    font-size: 25px;
}
#total_product_count{
    font-size: 30px;
    color: red;
}
#contens_sellerproduct {
	width: 100%;
}
#contens_sellerproduct_list{
	background-color: pink;
}

#contens_sellerproduct_list table {
	width: 100%;
	margin-top: 20px;
    background-color: azure;
}
#contens_sellerproduct_list table tr:nth-child(1) {
    background-color: #2a365c; /*=============================table 제목라인*/
    color: white;
}
#contens_sellerproduct_list table tr:nth-child(2) {
    color: white;
    background-color: #2a365c; /*=============================table 제목라인*/
}
#contens_sellerproduct_list table tr:nth-child(n+3){
    height: 120px;
}
#contens_sellerproduct_list td:nth-child(1){
    width: 50px;
}
#contens_sellerproduct_list td:nth-child(2){
    width: 40px;
}
#contens_sellerproduct_list td:nth-child(3){
    width: 500px;
    font-size: 25px;
}
#contens_sellerproduct_list td:nth-child(3) div{
    display: flex;
}
#productimgframe{
    width: 100px;
    height: 100px;
}
#productimgframe img{
    width: 100%;
    height: 100%;
}
#producttextframe{
    overflow: auto;
    width: 400px;
    height: 100px;
}
#producttextframe>span{
    font-size: 30px;
    height: 50px;
    margin-top: 25px;
    padding-left: 20px;
}

#contens_sellerproduct_list td:nth-child(4){
    font-size: 20px;
}
#contens_sellerproduct_list td:nth-child(5){
    font-size: 20px;
}
#btn_upload{
    width: 150px;
    height: 35px;
}
#btn_delete, #modifiBotton{
    width: 50px;
    height: 30px;
}

/*========================================================주문관리*/
#contents_orderlist_search {
	width: 100%;
	height: 230px;
	background-color: yellowgreen;
	margin-top: 20px;
	margin-bottom: 40px;
}

#contents_orderlist_search table {
	width: 100%;
	height: 100%;
}


/* ==================================================== 주문내역*/

#orderview_details_table{
	width: 100%;
}

#orderview_details_table input[type=button] , input[type=submit]{
	width: 200px;
	height: 50px;
	background-color: azure;
	border: 1px solid #2a365c;
	cursor: pointer;
	
}
#orderview_details_table input[type=button]:hover , input[type=submit]:hover{
	background-color: #2a365c;
	border: 1px solid #2a365c;
	color: azure;
	
}

#orderview_details_table tr:nth-child(2) {
	height: 50px;
}
#orderview_details_table tr:nth-child(1) {
	height: 50px;
}
#orderview_details_table tr:nth-child(1) th {
	text-align: right;
	padding-right: 50px;
}

#orderview_details_table tr th:nth-child(1) {
	width: 150px;
}
