@charset "UTF-8";

body {
	width: 100%;
	height: 100%;
}





















button[type="button"]:focus{outline: none;} /* chan : 버튼 클릭시 바깥 쪽에 생기는 선 제거해주는 역할이예요*/

/* ================================== Chan : 체스박스 CSS START */

.checkbox{
	margin-left: 10px;
	padding-top: 5px;
/* 	width: 30px; */
	height: 30px;
	
}
.checkbox input {
	display: none;
}

.checkbox span {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.text{
	width: 100%;
}
.checkbox .icon {
	position: relative;
	width: 17px;
	height: 17px;
	border: 1px solid #c8ccd4;
	border-radius: 3px;
	transition: background 0.1s ease;
}

.checkbox .icon::after {
 	content:''; 
	position: absolute;
	top: 1px;
	left: 5px;
	width: 5px;
	height: 11px;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	transform:rotate(45) scale(0);
	transition: all 0.3s ease;
}

.checkbox .text {
	margin-left: 5px;
	width: 30px;
	font-weight: bold;
}

.checkbox input:checked ~ .icon {
	border-color: transparent;
	background: #0066cc;
	animation: jelly 0.6s ease;
}
.checkbox input:checked ~ .icon::after {
	opacity:1;
	transform:rotate(45deg) scale(1);
}

@keyframes jelly{
	from {transform: scale(1,1);}
	30% {transform: scale(1.25,0.75);}
	40% {transform: scale(0.75,1.25);}
	50% {transform: scale(1.15,0.85);}
	65% {transform: scale(0.95,1.05);}
	75% {transform: scale(1.05,0.95);}
	to {transform: scale(1,1);}
}





