@charset "UTF-8";


input[type="radio"]{display: none;}
input[type="radio"]+label{display: inline-block; padding: 20px; color: #999; font-size: 14px; cursor: pointer; border-top-left-radius: 10px; 
border-top-right-radius: 10px; border: 2px solid #000;}
input[type="radio"]:checked +label{color: white; background: black; opacity: 0.7}
 
.conbox{display: none; width: 100%; height: 100%;}
input[id="tab01"]:checked ~.con1{ display: block; border-bottom: none;}
input[id="tab02"]:checked ~.con2{ display: block; }

.m_background{ /* chan : table 을 감사고 있는 테이블 */
	background-color: black; /* chan : 테이블 놓여져 있는 색상을 선택 하는 거고, 7번줄 에서 radio를 설정 할 수가 있습니다. */
	position: absolute;
	width: 100%;
	height: 100%; 
	opacity: 0.3; /* chan : 7번 Line에 있는 opacity랑 맞춰주면 radio 이동시 동일한 배경을 정해줄수가 있어요     */
	z-index: -5; /* chan : -5를 해야 check박스를 선택할 수가 있더라구요 ㅠㅠ 이건 모르겠습니다.*/
}

.m_tablediv{ /* chan : table 을 감사고 있는 테이블 */
	width: 1000px; /* chan : 테이블 크기 조정할 때 여기서 조정해주셔야해요 이유 바로 밑에 table 사이즈를 이 div로 맞춰놨습니다.*/
	background-color: yellow; /* chan : 위와 같이 색상도 동일 */
}
.m_tablediv> table{ /* chan : table 설정은 단순하게 했습니다.*/
	width: 100%;
}

button[type="button"]{border-radius: 20px; width: 100px; height: 40px;}
button[type="button"]:focus{outline: none;} /* chan : 버튼 클릭시 바깥 쪽에 생기는 선 제거해주는 역할이예요*/


/* ================================== Chan : 체스박스 CSS START */

.checkbox{
	margin-left: 10px;
	padding-top: 5px;
	width: 150px;
	height: 30px;
	
}
.checkbox input {
	display: none;
}

.checkbox span {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.text{
	width: 100px;
}
.checkbox .icon {
	position: relative;
	width: 17px;
	height: 17px;
	border: 1px solid #c8ccd4;
	border-radius: 3px;
	transition: background 0.1s ease;
}

.checkbox .icon::after {
 	content:''; 
	position: absolute;
	top: 1px;
	left: 5px;
	width: 5px;
	height: 11px;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	transform:rotate(45) scale(0);
	transition: all 0.3s ease;
}

.checkbox .text {
	margin-left: 5px;
	width: 120px;
	font-weight: bold;
}

.checkbox input:checked ~ .icon {
	border-color: transparent;
	background: #0066cc;
	animation: jelly 0.6s ease;
}
.checkbox input:checked ~ .icon::after {
	opacity:1;
	transform:rotate(45deg) scale(1);
}

@keyframes jelly{
	from {transform: scale(1,1);}
	30% {transform: scale(1.25,0.75);}
	40% {transform: scale(0.75,1.25);}
	50% {transform: scale(1.15,0.85);}
	65% {transform: scale(0.95,1.05);}
	75% {transform: scale(1.05,0.95);}
	to {transform: scale(1,1);}
}

/* ============================================= Chan : 체스박스 CSS END */






